{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<script>  getCount = function() {

let count = 1 ;

     count += 1;
    document.getElementById("item-quantity").innerHTML= count;
   console.log('awe', count);
   return count;
    };

getCountMinus = function() {

let count = 2 ;

     count -= 1;
    document.getElementById("item-quantity").innerHTML= count;
   console.log('awe', count);
   return count;
    };
</script>
<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Total:<strong> €{{ items.total }}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
                {% for item in items.products.all %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.imageURL}}"></div>
					<div style="flex:2"><p>{{item.name }}</p></div>
					<div style="flex:1"><p>€{{item.price|floatformat:2 }}</p></div>
					<div style="flex:1">
						<p class="quantity" id="item-quantity">1</p>
						<div class="quantity"  id="quantity">
							<img id="chg-quantity_1" class="chg-quantity" src="{% static  'images/arrow-up.png' %}" onclick="getCount()">

							<img id="chg-quantity_2" class="chg-quantity" src="{% static  'images/arrow-down.png' %}"  onclick="getCountMinus()">
						</div>
					</div>
					<div style="flex:1">€{{item.get_total}}</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>

{% endblock content %}